<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Instruções para redefinição de senha</h1>
  <p>Olá <%= @user.email %>!</p>
  <p>Você solicitou uma redefinição de senha. Para continuar, clique no link abaixo:</p>
  <p><%= link_to 'Redefinir senha', edit_password_url(@user, reset_password_token: @token) %></p>
  <p>Se você não solicitou essa redefinição, pode ignorar este e-mail.</p>
</body>
</html>
