<style>

.footer {
  background-color: #1f2029 !important;
}

</style>
<footer class="text-center footer text-white" style="position: fixed; bottom: 0; left: 0; width: 100%;">
  <div class="container">
    <img src="/images/icons8-hamburger-96.png" width="64" height="64" >
    <hr />
  </div>
  <div class="text-center p-3">
    © 2024
    <a class="text-white" href="https://guilhermefreitas.dev.br/">Guilherme Freitas</a>
  </div>
</footer>
